@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes rotateClockwise {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(225px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(225px) rotate(-360deg);
  }
}

@media (max-width: 768px) {
  @keyframes rotateClockwise {
    from {
      transform: translate(-50%, -50%) rotate(0deg) translateX(140px) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg) translateX(140px) rotate(-360deg);
    }
  }
}
